<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="Tenant">
            <directory suffix="Test.php">tests/Tenant</directory>
        </testsuite>
        <testsuite name="License">
            <directory suffix="Test.php">tests/License</directory>
        </testsuite>
        <testsuite name="Module">
            <directory suffix="Test.php">tests/Module</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
        <testsuite name="Misc">
            <directory suffix="Test.php">tests/phpunit</directory>
        </testsuite>
        <testsuite name="All">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
